@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-gray);
    font-size: 15px;
    font-family: var(--prime-font);
    font-weight: 400;
    color: var(--Grayish-blue);
}

:root{

    /* GLOBAL color  */

    --Dark-blue: hsl(218, 44%, 22%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --light-gray : hsl(212, 45%, 89%);
    --white : #fff;

    /* FONTS */

    --prime-font : "Outfit", sans-serif;

}

.container{

    /* border: 1px solid red; */
    width: 30%;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container .code img{
    width: 100%;
    border-radius: 8px;
    
}

.content{

    text-align: center;
    padding: 5px 15px;
}

h2{

    font-family: var(--prime-font);
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Dark-blue);
}

.margin-top{

    margin-top: 0.9rem;
}